@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    
}
:root{
    --body-color:#fff;
    --primary-color:linear-gradient(to bottom right, #FFF9F3, #FFEFEB);
    --secondary-color:black;
    --nav-color:rgb(0, 45, 91);
    --services-work-color:rgb(0, 45, 91);
    --service-color:#fff;
    --logo-color:black;
}
.dark-mode{
    --body-color:black;
    --primary-color:black;
    --secondary-color:#fff;
    --nav-color:#fff;
    --services-work-color:#fff;
    --service-color:#262626;
    --logo-color:#ff004f;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--primary-color);
}

/* dark mode */
nav ul img{
    width: 25px;
    cursor: pointer;
    /* background-color: yellow; */
}
main {
    min-height: auto;
    background: var(--primary-color);
    color: var(--secondary-color);
    overflow-x: hidden;
}

/* Navigation bar */
header {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    /* background-color:pink; */
}
header .logo {
    font-weight: 700;
    font-size: 20px;
    color: var(--logo-color);
}

header nav ul {
    width: 400px;
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

header nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    transition: 0.3s ease-in;
    background-color: red;
    position: absolute;
    left: 0;
    top: 28px;
}

header nav ul li a:hover::after {
    width: 100%;
}

/* image and name part */
/*--------------------first-section ---------------------*/

/*------------------typing effect-------- */
.head-text {
    /* font-size: 2rem; */
    /* font-weight: bold; */
    font-family: monospace;
    display: inline-block;
    max-width: 100%;
    white-space: pre-wrap;
    overflow: hidden;
    min-height: 3rem;
}

/* Cursor Effect */
.typing-text::after {
    content: "|";
    display: inline-block;
    width: 8px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.first-section {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    margin-top: 45px;
    justify-content: space-between;
    height: 80vh;
    gap: 40px;
}

/* .first-section .left{
    max-width: 40%;
} */
.first-section .heads {
    font-size: 60px;
}

.first-section p {
    font-size: 20px;
}
.first-section .left {
    min-width: 40%;
    min-height: 60%;
}

.first-section .right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.first-section .right img {
    height: 80vh;
}

/*---------------------------- About section------------------ */
.second-section {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    width: 85vw;
    height: auto;
    background-color: #414141;
    padding: 35px;
    border-radius: 15px;
    color: #fff;
    margin: 40px auto;
    gap: 20px;
}

.second-section .second-left {
    display: flex;
    align-items: center;  
    justify-content: center; 
    border-radius: 15px;
    background-color: #ababab;
    width: 40%;
    max-height: 100%; 
    overflow: hidden; 
}

.second-section .second-left img {
    max-width: 100%;
    height: auto; 
    object-fit: contain; 
    border-radius: 15px;
}

.second-section .second-right {
    flex-basis: 60%;
    text-align: left;
}

.second-right h2 {
    font-size: 30px;
}

/* about-menu-container */
.about-menu-container ul {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #212121;
    border-radius: 15px;
}

.about-menu-container ul li {
    position: relative;
    list-style: none;
    cursor: default;
    font-weight: 500;
    font-size: 18px;
}

.about-menu-container ul li::after {
    content: "";
    width: 0%;
    height: 3px;
    transition: 0.5s ease-in;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-menu-container .active-section::after {
    width: 100%;
}

.about-menu-container .tab-contents {
    display: none;
}

.about-menu-container .tab-contents.active-tab {
    display: block;
}

/* -------------------------third section------------------------ */
.third{
    background: var(--primary-color);
    padding-bottom: 60px;

}
.third-section {
    max-width: 80vw;
    margin: auto;
    padding: 20px 0;
}

.third-section .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.third-section .card {
    width: calc(90% / 3);
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--service-color);
    color: var(--secondary-color);
    box-shadow: -2px 2px 4px #414141;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in;
}
.third-section .card h2{
    color: var(--services-work-color);
    font-weight: 900;
    size: 22px;
    font-family: "Playfair Display", serif;
}
.third-section .card i{
    font-size: 40px;
}
.third-section .card button i{
    font-size: 25px;
    transition: color 0.3s ease-in-out;
}
.third-section .card button{
    transition:  0.3s ease-in-out;
    border-radius: 100%;
    padding: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}
.third-section .card button:hover i{
    color: rgb(236, 91, 83);
}
.third-section .card button:hover{
    /* background-color: #ff004f; */
    color: #fff;
}


.third-section .card:hover {
    transform: translateY(-6px);
    color: #fff;

    background-color: #ff004f;
}

.third-section h1 {
    padding: 40px 0;
    color: var(--services-work-color);
}

.third-section .cards img {
    width: 60px;
}

.third-section button {
    padding: 2px 4px;
    border-radius: 5px;
    border: none;
}

nav .fa-solid {
    display: none;
}

/* -------------fourth-section ----------------*/
.fourth {
    background: var(--primary-color);
}

.fourth-section {
    width: 80vw;
    margin: auto;
    padding: 20px 0;
    margin: 20px auto;
    /* height: 40vh; */
}

.fourth-section-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    height: 500px;
    /* gap: 20px; */
}

.fourth-section-cards .work-card {
    position: relative;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    width: calc(80% / 3);
    transition: transform 0.4s ease-in-out;
    height: 100%;
}

.fourth-section h1{
    color: var(--services-work-color);
}

.fourth-section-cards img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
}

.card-text {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 15px;
    color: #fff;
    transition: height 0.5s ease-in, opacity 0.3s ease-in;
    opacity: 0;
    /* Hide text completely */
    overflow: hidden;
    /* Prevent text overflow */
}

.work-card:hover .card-text {
    height: 100%;
    opacity: 1;
    padding: 20px 10px;
    /* Add padding when hovered */
}

.fourth-section-cards .work-card:hover {
    transform: scale(1.07);
}
.fourth-section-cards .work-card i {
    font-size: 25px;
    color: #Fff;
    padding: 15px;
}

/* ------------contact section -------------------------- */
#contact-container{
    background-color: #111;
    color: #ffff;
    padding: 60px 0;
}
.contact{
    width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap: 40px;
}
.contact .contact-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-basis: 40%;
}
.contact .contact-left i{
    margin: 10px;
    font-size:30px ;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.contact .contact-left .buttons a i{
    color: #fff;
}
.contact .contact-left .buttons .fa-instagram:hover{
    color: red;
    transform: translateY(-4px);
}
.contact .contact-left .buttons .fa-facebook:hover{
    color: #3b5998;
    transform: translateY(-4px);
}
.contact .contact-left .buttons .fa-linkedin:hover{
    color: #0A66C2;
    transform: translateY(-4px);
}
.contact .contact-left .buttons .fa-square-twitter:hover{
    color: #55acee;
    transform: translateY(-4px);
}
.contact .contact-left .fa-square-phone, .fa-envelope, .fa-square-github{
    color: #ff004f;
}
.contact .contact-left .cv-button a,.btn{
    text-decoration: none;
    font-size:14px ;
    background-color: #ff004f;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 15px 40px;
}
.contact .contact-left .cv-button ,form .btn{
    margin-top: 35px;
}
.contact .contact-left .cv-button a:hover,.btn:hover{
    background-color: #f12e6c;
    cursor: pointer;
}
.contact .contact-right form{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    width: 100%;
    /* justify-content: center; */
}
form input, form textarea{
    border: none;
    outline: none;
    width: 100%;
    background-color: #262626;
    padding: 15px;
    margin: 14px 0;
    font-size:18px ;
    border-radius: 6px;
    color: #fff;
}
.contact-right{
    flex-basis: 50%;
}
.contact-right .btn{
    /* font-size: 15px ; */
    color: #fff;
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 20px;
    /* padding: 10px 30px; */
}
.copyright{
    width: 100%;
    text-align: center;
    background-color: #262626;
    color: #fff;
    padding: 25px 0;
}
.copyright .fa-heart{
    color: red;
}
.copyright .fa-heart:hover{
    color: #fff;
}
@media screen and (max-width: 1100px) {
    .first-section {
        width: 90vw;
        height: 55vh;
    }

    header {
        width: 90vw;
    }

    .first-section .right img {
        margin: auto;
        height: 55vh;
    }

    .first-section .heads {
        font-size: 50px;
    }
    .first-section .left {
        min-width: 40%;
    }

    .first-section p {
        font-size: 18px;
    }

    .third-section .cards {
        display: flex;
        justify-content: normal;
        align-items: normal;
        gap: 10px;
        width: auto;
        flex-wrap: wrap;
    }

    .second-section {
        width: 95vw;
        height: 40vh;
    }

    .third-section {
        max-width: 90vw;
        margin: auto;
        padding: 0;
    }
    .third-section .cards img {
        width: 35px;
    }
    .third-section .card h2 {
        font-size: 18px;
        font-weight: 500;
    }
    .third-section .card .text-container {
        font-size: 14px;
    }

    .fourth-section {
        width: 90vw;
    }
    .fourth-section-cards .work-card {
        width: calc(90% / 3);
    }
}

@media screen and (max-width: 600px) {
    .first-section {
        width: 90vw;
        flex-wrap: wrap;
        height: auto;
        margin-top: 20px;
        gap: 25px;
    }

    .first-section .right img {
        margin: auto;
        height: 60vh;
    }

    header .logo {
        font-size: 16px;
        font-weight: 600;
    }

    .first-section .heads {
        font-size: 40px;
    }

    .first-section p {
        font-size: 16px;
    }

    .second-section {
        flex-wrap: wrap;
        justify-content: center;
        width: 90vw;
        padding: 10px;
        height: auto;
    }

    .second-section .second-left {
        flex-basis: 100%;
    }

    /*----- hamburger------ */
    nav .fa-solid {
        display: block;
        font-size: 25px;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }

    nav ul>.fa-solid {
        top: 25px;
        right: 155px;
    }

    /* hamburger */
    header nav ul {
        background-color: rgb(90, 89, 89);
        position: fixed;
        top: 0;
        right: -200px;
        flex-direction: column;
        justify-content: start;
        width: 200px;
        height: 100vh;
        gap: 25px;
        padding-top: 80px;
        z-index: 2;
        color: #fff;
        transition: right 0.3s ease-in;
    }

    header nav ul li a {
        color: #fff;
    }

    .about-menu-container ul li {
        font-size: 16px;
    }
    .third-section .cards {
        flex-direction: column;
        gap: 20px;
    }
    .third-section .cards .card{
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }

    .fourth-section-cards {
        flex-direction: column;
        gap: 60px;
        height: auto;
    }
    .fourth-section-cards .work-card {
        width: 90%;
    }
    .contact{
        flex-direction: column;
    }
}